.flex-row__center-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column__center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row__start-between {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
