@font-face {
    font-family: 'Titillium Web';
    src: local('Titillium Web Light'),
    url('../fonts/TitilliumWeb-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: local('Titillium Web'),
    url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: local('Titillium Web'),
    url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: local('Titillium Web Bold'),
    url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html, body, section, h1, h2, h3, p {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

button {
    padding: 0;
    border: none;
    font-family: inherit;
    cursor: pointer;
    color: #ffffff;
}

img {
    vertical-align: top;
}
