.content-violet {
    box-sizing: border-box;
    padding: 60px;
    height: 100vh;
    background-color: #87509c;
}

.content-violet__wrapper {
    height: 100%;
    width: 100%;
    max-width: 1100px;
}

.content-violet__nav {
    width: 100%;
}

.content-violet__nav-link {
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 16px;
    text-transform: uppercase;
}

.content-violet__nav-link:hover {
    background-color: #643a79;
}

.content-violet__inner-wrapper {
    height: 100%;
    width: 100%;
}

.content-violet__promo {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
}

.content-violet__promo-first-line {
    display: block;
}

.content-violet__button {
    padding: 20px 84px 20px 84px;
    background-color: #eb7d4b;
    border-radius: 6px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    white-space: nowrap;
}

.content-violet__button:hover {
    background-color: #f16422;
}

.content-green {
    box-sizing: border-box;
    padding: 60px;
    height: 100vh;
    background-color: #17c2a4;
}

.content-green__wrapper {
    height: 100%;
    width: 100%;
    max-width: 1100px;
}

.content-green__title {
    gap: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.content-green__title::after {
    content: '';
    width: 90px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

.content-green__subtitle {
    font-size: 18px;
}

.content-green__subtitle-first-line {
    display: block;
}

.content-green__inner-wrapper {
    height: 100%;
    width: 100%;
}

.content-green__services {
    width: 100%;
}

.content-green__services-column {
    width: 200px;
}

.content-green__services-column-image {
    object-fit: contain;
    height: 120px;
}

.content-green__services-column-name {
    margin: 60px 0 30px 0;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    white-space: nowrap;
}

.content-green__services-column-text {
    font-weight: 300;
    font-size: 16px;
}
